<main class="game-container" [class.isLoading]="isLoading$ | async">
  <div class="game-container__resources">
    <label for="resource">Choose a resource</label>
    <mat-radio-group id="resource" [(ngModel)]="chosenResource">
      <mat-radio-button
        data-test="mat-radio-people"
        [value]="Resource.PEOPLE"
        >{{ Resource.PEOPLE }}</mat-radio-button
      >
      <mat-radio-button
        data-test="mat-radio-starships"
        [value]="Resource.STARSHIPS"
        >{{ Resource.STARSHIPS }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <app-game-cards
    [clashActivated]="clashActivated"
    [isLoading]="(isLoading$ | async)!"
    [players]="(players$ | async)!"
    [losingIndex]="(losingIndex$ | async)!"
  ></app-game-cards>
  <button
    data-test="play-button"
    [disabled]="(isLoading$ | async)!"
    class="game-container__play-button"
    mat-raised-button
    color="primary"
    (click)="getPlayers()"
  >
    {{ gameInitialized ? 'Play Again' : 'Play' }}
  </button>
  <app-counter
    [leftPlayerWins]="(leftPlayerWins$ | async)!"
    [rightPlayerWins]="(rightPlayerWins$ | async)!"
  >
  </app-counter>
</main>
