:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.isLoading {
    filter: blur(3px);
  }

  &__resources {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__play-button {
     width: 200px;
     margin-top: 1rem;
   }
}




