.game-cards {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;

  &__player-cards {
    display: flex;
    gap: 1rem;
  }

  &__spinner {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
